.about-wrapper{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.icon-wrapper {
    border: solid black;
    border-radius: 15px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: black;
    font-family: 'Segoe UI';
    font-weight: bold;
    padding: 10px 20px;
    font-size: 13px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
  }
  
  .icon-anggota {
    color: black;
    margin-bottom: 2px;
    font-size: 22px;
  }